.wrapper {
  display: flex;
  gap: 12px;
}

.circleContainer {
  display: inline-grid;
  margin-top: 120px;
  gap: 48px 16px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
}

.circle {
  display: flex;
}
